<h2>Liste des auteurs</h2>
<table border="1">
<tr>
  <th>ID</th>
  <th>Nom d'utilisateur</th>
  <th>Email</th>
</tr>
{% for author in authors %}
<tr>
  <td>{{ author.id }}</td>
  <td>{{ author.username }}</td>
  <td>{{ author.email }}</td>
</tr>
{% else %}
<tr><td colspan="3">Aucun auteur trouvé</td></tr>
{% endfor %}
</table>
